<div class="card bg-base-100 card-md shadow-md ml-2 mr-4 mt-1 py-3">
  <h1 class="px-4 text-2xl">Listado de Clientes</h1>
  <div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100 mx-4">
    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>E-mail</th>
          <th>Teléfono</th>
          <th>Tipo Cliente</th>
        </tr>
      </thead>
      <tbody>
        @for (customer of filteredCustomers(); track $index) {
          <tr>
            @if (customer.legalName) {
              <td>{{ customer.legalName }}</td>
            }
            <td>{{ customer.firstName }} {{ customer.lastName }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.phone }}</td>
            <td>{{ customer.customerType }}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
