<div class="drawer lg:drawer-open min-h-screen">
  <input id="erp-drawer" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col">
    <!-- Navbar -->
    <div class="w-full navbar bg-base-200 lg:hidden">
      <div class="flex-none">
        <label for="erp-drawer" class="btn btn-square btn-ghost drawer-button">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            />
          </svg>
        </label>
      </div>
      <div class="flex-1 px-2 text-xl font-bold">ERP</div>
    </div>
    <!-- Main content -->
    <div class="p-4 flex-1">
      <ng-content></ng-content>
    </div>
  </div>
  <div class="drawer-side">
    <label for="erp-drawer" class="drawer-overlay"></label>
    <aside class="menu p-4 w-52 min-h-full bg-gray-200 text-base-content">
      <h2 class="menu-title mb-2">Menú</h2>
      <nav aria-label="ERP navigation" class="text-lg font-semibold">
        <ul>
          <li>
            <a
              [class.menu-active]="activeMenu() === 'Dashboard'"
              (click)="setActiveMenuLink('Dashboard')"
              ><svg xmlns="http://www.w3.org/2000/svg" class="h-5" viewBox="0 0 24 24">
                <path
                  fill="currentColor"
                  d="M4 13h6c.55 0 1-.45 1-1V4c0-.55-.45-1-1-1H4c-.55 0-1 .45-1 1v8c0 .55.45 1 1 1m0 8h6c.55 0 1-.45 1-1v-4c0-.55-.45-1-1-1H4c-.55 0-1 .45-1 1v4c0 .55.45 1 1 1m10 0h6c.55 0 1-.45 1-1v-8c0-.55-.45-1-1-1h-6c-.55 0-1 .45-1 1v8c0 .55.45 1 1 1M13 4v4c0 .55.45 1 1 1h6c.55 0 1-.45 1-1V4c0-.55-.45-1-1-1h-6c-.55 0-1 .45-1 1"
                /></svg
              >Dashboard</a
            >
          </li>
          <li>
            <a
              [class.menu-active]="activeMenu() === 'Clientes'"
              (click)="setActiveMenuLink('Clientes')"
              ><svg xmlns="http://www.w3.org/2000/svg" class="h-5" viewBox="0 0 24 24">
                <path
                  fill="currentColor"
                  d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4s-4 1.79-4 4s1.79 4 4 4m0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4"
                /></svg
              >Clientes</a
            >
          </li>
          <li>
            <a
              [class.menu-active]="activeMenu() === 'Facturación'"
              (click)="setActiveMenuLink('Facturación')"
              ><svg xmlns="http://www.w3.org/2000/svg" class="h-5" viewBox="0 0 24 24">
                <g fill="currentColor">
                  <path
                    d="m12 2l.117.007a1 1 0 0 1 .876.876L13 3v4l.005.15a2 2 0 0 0 1.838 1.844L15 9h4l.117.007a1 1 0 0 1 .876.876L20 10v9a3 3 0 0 1-2.824 2.995L17 22H7a3 3 0 0 1-2.995-2.824L4 19V5a3 3 0 0 1 2.824-2.995L7 2zm0 8a1 1 0 0 0-1 1v.05a2.5 2.5 0 0 0 .5 4.95h1a.5.5 0 1 1 0 1H10a1 1 0 0 0 0 2h1a1 1 0 0 0 2 0v-.05a2.5 2.5 0 0 0-.5-4.95h-1a.5.5 0 1 1 0-1H14a1 1 0 0 0 0-2h-1a1 1 0 0 0-1-1"
                  />
                  <path d="M19 7h-4l-.001-4.001z" />
                </g></svg
              >Facturación</a
            >
          </li>
          <li>
            <a
              [class.menu-active]="activeMenu() === 'Inventario'"
              (click)="setActiveMenuLink('Inventario')"
              ><svg xmlns="http://www.w3.org/2000/svg" class="h-5" viewBox="0 0 512 512">
                <path
                  fill="currentColor"
                  d="M440.9 136.3a4 4 0 0 0 0-6.91L288.16 40.65a64.14 64.14 0 0 0-64.33 0L71.12 129.39a4 4 0 0 0 0 6.91L254 243.88a4 4 0 0 0 4.06 0ZM54 163.51a4 4 0 0 0-6 3.49v173.89a48 48 0 0 0 23.84 41.39L234 479.51a4 4 0 0 0 6-3.46V274.3a4 4 0 0 0-2-3.46ZM272 275v201a4 4 0 0 0 6 3.46l162.15-97.23A48 48 0 0 0 464 340.89V167a4 4 0 0 0-6-3.45l-184 108a4 4 0 0 0-2 3.45"
                /></svg
              >Inventario</a
            >
          </li>
          <li>
            <a
              [class.menu-active]="activeMenu() === 'Reportes'"
              (click)="setActiveMenuLink('Reportes')"
              ><svg xmlns="http://www.w3.org/2000/svg" class="h-5" viewBox="0 0 24 24">
                <path
                  fill="currentColor"
                  d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2M9 17H7v-7h2zm4 0h-2V7h2zm4 0h-2v-4h2z"
                /></svg
              >Reportes</a
            >
          </li>
          <li>
            <a
              [class.menu-active]="activeMenu() === 'Configuración'"
              (click)="setActiveMenuLink('Configuración')"
              ><svg xmlns="http://www.w3.org/2000/svg" class="h-5" viewBox="0 0 24 24">
                <path
                  fill="currentColor"
                  d="M19.14 12.94c.04-.3.06-.61.06-.94c0-.32-.02-.64-.07-.94l2.03-1.58a.49.49 0 0 0 .12-.61l-1.92-3.32a.49.49 0 0 0-.59-.22l-2.39.96c-.5-.38-1.03-.7-1.62-.94l-.36-2.54a.484.484 0 0 0-.48-.41h-3.84c-.24 0-.43.17-.47.41l-.36 2.54c-.59.24-1.13.57-1.62.94l-2.39-.96c-.22-.08-.47 0-.59.22L2.74 8.87c-.12.21-.08.47.12.61l2.03 1.58c-.05.3-.09.63-.09.94s.02.64.07.94l-2.03 1.58a.49.49 0 0 0-.12.61l1.92 3.32c.12.22.37.29.59.22l2.39-.96c.5.38 1.03.7 1.62.94l.36 2.54c.05.24.24.41.48.41h3.84c.24 0 .44-.17.47-.41l.36-2.54c.59-.24 1.13-.56 1.62-.94l2.39.96c.22.08.47 0 .59-.22l1.92-3.32c.12-.22.07-.47-.12-.61zM12 15.6c-1.98 0-3.6-1.62-3.6-3.6s1.62-3.6 3.6-3.6s3.6 1.62 3.6 3.6s-1.62 3.6-3.6 3.6"
                /></svg
              >Configuración</a
            >
          </li>
          <li>
            <a (click)="logOut()"
              ><svg xmlns="http://www.w3.org/2000/svg" class="h-5" viewBox="0 0 24 24">
                <path
                  fill="currentColor"
                  d="M16 17v-2h-4v-2h4v-2l3 3l-3 3m-1-12H5c-1.1 0-2 .9-2 2v6h2V7h10V5m4 14H9c-1.1 0-2-.9-2-2v-6H5v6c0 2.21 1.79 4 4 4h10v-2z"
                /></svg
              >Cerrar sesión</a
            >
          </li>
        </ul>
      </nav>
    </aside>
  </div>
</div>
